<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Handwritten Digit Recognition</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="https://www.pytorials.com/">About</a></li>
            </ul>
        </nav>
        <h3 class="text-muted"> Handwritten Digit Recognition</h3>
    </div>
    <div class="jumbotron">
        <h3 class="jumbotronHeading">Draw the digit inside this Box!</h3>
        <div class="slidecontainer">
            <p>Drag the slider to change the line width.</p>
            <input type="range" min="10" max="50" value="15" id="myRange">
            <p>Value: <span id="sliderValue"></span></p>
        </div>
{#        <form class="form-inline" method="POST" action="{{ url_for('result') }}">#}
{#            <div class="select"><select name="comp_select" class="selectpicker form-control">    {% for o in data %}#}
{#                <option value="{{ o.name }}">{{ o.name }}</option>    {% endfor %}    </select></div>#}
{#            <button type="submit" class="btn">Go</button>#}
{#        </form>#}
        <div class="canvasDiv">
            <canvas id="canvas" width="280" height="280"></canvas>
            <br>
            <p style="text-align:center;">
{#                <div class="select"><select name="comp_select" class="selectpicker form-control">    {% for o in data %}#}
{#                <option value="{{ o.name }}">{{ o.name }}</option>    {% endfor %}    </select></div>#}
                <a class="btn btn-success myButton" href="#" role="button">Predict</a>
                <a class="btn btn-primary" href="#" id="clearButton" role="button">Clear</a>
            </p>
        </div>
    </div>
    <div class="jumbotron">
        <p id="result">Get your prediction here!!!</p>
    </div>
    <footer class="footer">
        <p>&copy; 2018, python36.com</p>
    </footer>
</div> <!-- /container -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{{ url_for('static',filename='new_home.js') }}"></script>
<script type="text/javascript">

    $(".myButton").click(function () {
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var canvasObj = document.getElementById("canvas");
        var img = canvasObj.toDataURL();
        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/predict/",
            data: img,
            success: function (data) {
                $('#result').text(' Predicted Output: ' + data);
            }
        });
    });

</script>
</body>
</html>